body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

.stats {
    background-color: paleturquoise;
    border-bottom: 1px solid black;
}

.question {
    text-align: center;
    border: 1px solid paleturquoise;
    background-color: rgb(191, 255, 255);
}

.buttons {
    text-align: center;
}

button {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: paleturquoise;
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
}

button:hover {
    background-color: rgb(109, 148, 148)
}

.highbutton {
    font-size: 14px;
    margin-top: 2px;
    margin-left: 0;
}

textarea {
    height: 30px;
    margin-top: 10px;
    resize: none;
    margin-left: auto;
    margin-right: auto;
}

.cw {
    font-size: 32px;
}
